46. Lists - Coding

In [37]:
# Basics
l = [10, 20, 30, 40, 50]
print(l, type(l))
print(l[1], l[0], len(l))

[10, 20, 30, 40, 50] <class 'list'>
20 10 5

In [38]:
# Out of range index throws an error
l(5)

TypeError: 'list' object is not callable

In [39]:
# Negative indes - start to count backwards
(l[-1], l[-5])

(50, 10)

In [40]:
# Out of range even with negative indexes
l[-6]

IndexError: list index out of range

In [42]:
# Empty list
l1 = list()
print(l1, type(l1))

[] <class 'list'>

In [44]:
# Change a list element
l[2] = 3.14
print(l)
l[-1] = 'Hello'
print(l)

[10, 20, 3.14, 40, 50]
[10, 20, 3.14, 40, 'Hello']

In [45]:
# Can not assign out of range
l[5] = 'World'

IndexError: list assignment index out of range

48. Tuples - Coding

In [29]:
# Basics
t = (1, 2, 3)
print(t, type(t), t[0], t[-1], t[1], len(t))

(1, 2, 3) <class 'tuple'> 1 3 2 3

In [7]:
# Reaching the last element
t[-1], t[len(t) -1]

(3, 3)

In [35]:
# Changing the mutable element of a tuple
t=([1, 2], [3, 4])
print('Initially: ', t)
l = t[0]
l[0] = 100
print('First Modification: ', t)
t[1][1] = 400
print('Second modification: ', t)

Initially ([1, 2], [3, 4])
First Modification:  ([100, 2], [3, 4])
Second modification:  ([100, 2], [3, 400])

In [36]:
# No need of parentheses
t1 = 1, 2
t1, type(t1)

((1, 2), tuple)

In [27]:
# Empty tuple
t_empty = ()
t_empty, type(t_empty), len(t_empty)

((), tuple, 0)

In [22]:
# Tuple can be created taking any other sequence
l1 = [1, 2, 3, 4, 5]
t3 = tuple(l1)
t3, type(t3), len(t3)

((1, 2, 3, 4, 5), tuple, 5)

In [23]:
# It is possible to be done the opposite - a list to be created from a typle
l2 = list(t3)
l2, type(l2), len(l2)

([1, 2, 3, 4, 5], list, 5)

In [25]:
# Tuples are immutable. But if we want to correct a value in a tuple
t4 = 10, 20, 3, 40, 50
l4 = list(t4)
l4[2] = 30
t4 = tuple(l4)
print(t4)

(10, 20, 30, 40, 50)

50. Strings - Coding

In [46]:
# Basics
a = 'hello'
b = "Python"

In [47]:
# Delimiter characters in the string
a1 = "Python's best features"
a2 = 'Python\'s best features'
print (a1, a2)

Python's best features Python's best features

In [48]:
# Index
s = 'Python rocks!'
print(s[0], s[1], len(s), s[len(s) - 1], s[-1])

P y 13 ! !

In [49]:
# Immutable
s[0] = 'X'

TypeError: 'str' object does not support item assignment

In [50]:
# Empty strings
a2 = ''
b2 = ""
c2 = str()
print (type(a2), len(a2), type(b2), len(b2), type(c2), len(c2))

<class 'str'> 0 <class 'str'> 0 <class 'str'> 0

In [54]:
# str function can take arbitrary sequence type and convert it to str
t = (1, 2, 3)
print(t)
s3 = str(t)
print(s3)
# The string representation of the typle is exactly '(1, 2, 3)', not '123'
print(s3[0], len(s3))

(1, 2, 3)
(1, 2, 3)
( 9

In [57]:
# strings could be passed to other sequence types
s4 = 'Python'
t4 = tuple(s4)
print(t4)
l4 = list(s4)
print(l4)
l4_2 = list('abcdef')
print(l4_2)

('P', 'y', 't', 'h', 'o', 'n')
['P', 'y', 't', 'h', 'o', 'n']
['a', 'b', 'c', 'd', 'e', 'f']

In [60]:
# Multiplication of strings
s5 = '=' * 30
print(s5)
s5_2 = '~*~ () ' * 10
print (s5_2)

==============================
~*~ () ~*~ () ~*~ () ~*~ () ~*~ () ~*~ () ~*~ () ~*~ () ~*~ () ~*~ ()

In [63]:
# Multiplication works with tuples and lists as well
t5 = (1, 2, 3) * 3
l5 = [7, 8] * 5
print (t5)
print (l5)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
[7, 8, 7, 8, 7, 8, 7, 8, 7, 8]

In [65]:
# CAREFUL - the multiplication repeats the object
m = [[0, 0, 0]] * 3
print (m)
m[0][0] = 1
print (m)
# see that all rows changed

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[1, 0, 0], [1, 0, 0], [1, 0, 0]]

51. Slicing - Lecture

In [70]:
# Basics
s = 'Python rocks!'
print(s[5])
print(s[0:5+1])

n
Python

In [79]:
# Slicing returns the same type as the type being sliced
print (s[0:6], type(s[0:6]))
t = (1, 2, 3, 4, 5)
print(t[1:3], type(t[1:3]))
l = [10, 20, 30]
print (l[:2], type(l[:2]))

Python <class 'str'>
(2, 3) <class 'tuple'>
[10, 20] <class 'list'>

In [82]:
# Slicers will return a new object
l2 = [1, 2, 3, 4, 5]
l2_1 = l2[0:3]
print ('Is l2 same object like l2_1: ', l2 is l2_1)

# this means we can mutate these two elements independently
l2[0] = 10
print(l2)
print(l2_1)

Is l2 same object like l2_1:  False
[10, 2, 3, 4, 5]
[1, 2, 3]

In [87]:
# If the elements of the sequence are mutable objects, changing the sequence or the slice will change the other object as well
l3 = [[0, 1], [2, 3]]
l3sub = l3[0:1]
print(l3, l3sub, l3 is l3sub)
l3sub[0][1] = 4
print(l3, l3sub, l3[0] is l3sub[0])

[[0, 1], [2, 3]] [[0, 1]] False
[[0, 4], [2, 3]] [[0, 4]] True

In [89]:
# Start and end left blank
l4 = 'Python rocks!'
l4_1 = l4[7:]
l4_2 = l4[:6]
print(l4, l4_1, l4_2)

Python rocks! rocks! Python

In [91]:
# Shallow copy - copy of the collection, but not makes copy of the objects inside the collection
l5 = [1, 2, 3, 4, 5]
l5_1 = l5[:]
print (l5 is l5_1)

False

In [96]:
# Step slicing
l6 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l6_1 = l6[1: 8: 2]
print (l6_1)
# We can ommit the start or the end
l6_2 = l6[1::2]
print(l6_2)
# we can even ommit the start and the end simultaneously
l6_3 = l6[::2]
print(l6_3)

[2, 4, 6, 8]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [104]:
# Negative slicing
l7 = 'abcdef'
l7_1 = l7[-4: -1]
print(l7_1)

# If the end is lower than the start and the direction is positive, we receive empty collection
l7_2 = l7[-1:-4]
print("'"+l7_2+"'")

# If the end is lower and the start is higher, but the direction is negative - we receive reversed part of the collection
l7_3 = l7[-1:-4:-1]
print(l7_3)

cde
''
fed

In [108]:
# If we ommit the start during negative direction, Python will decide that the start is the last element
l8 = 'abcdef'
l8_1 = l8[:-5:-1]
print(l8_1)

# Similarly if we ommit the end during negative direction, Python will decide that the end is the beginning of the collection
l8_2 = l8[2::-1]
print(l8_2)

# If the direction is negative, 0 set as end will not give us result including the first element of the string
l8_3 = l8[2:0:-1]
print(l8_3)

fedc
cba
cb

In [109]:
# Reversing a collection
l9 = [1, 2, 30, 100]
l9_1 = l9[::-1]
print(l9_1)

[100, 30, 2, 1]

In [110]:
# Check for palindrom
l10 = 'racecar'
print(l10 == l10[::-1])

True

53. Manipulating Sequences - Lecture

In [112]:
# Basics
l1 = [10, 20, 3, 40, 50]
l1[2] = 30
print(l1)

[10, 20, 30, 40, 50]

In [115]:
# Replace entire slice. There is no need the length to be the same
l2 = [1, 20, 30, 6, 7]
l2[1:3] = [2, 3, 4, 5]
print(l2)

[1, 2, 3, 4, 5, 6, 7]

In [116]:
#!! Replacing with a string - it will interpret it as a sequence, not individual element
l3 = [1, 2, 3, 4, 5]
l3[1:3] = 'python'
print(l3)

[1, 'p', 'y', 't', 'h', 'o', 'n', 4, 5]

In [117]:
#!! Assignment of slice with steps
l4 = [1, 2, 3, 4, 5, 6, 7, 8]
l4[1::2] = 20, 40, 60, 80
print(l4)

[1, 20, 3, 40, 5, 60, 7, 80]

In [118]:
#!! The number of the elements in the slice should match, otherwise error
l5 = [1, 2, 3, 4, 5, 6, 7, 8]
l5[1::2] = 20, 40, 60

ValueError: attempt to assign sequence of size 3 to extended slice of size 4

In [120]:
# Assignment with negative slice order
l6 = [1, 2, 3, 4, 5, 6, 7, 8]
print(l6[:-3:-1])
l6[:-3:-1] = ['Last', 'Last -1']
# see that the order is reversed in the list
print(l6)

[8, 7]
[1, 2, 3, 4, 5, 6, 'Last -1', 'Last']

In [121]:
# Deletion of an element
l7 = [1, 2, 2, 3, 4, 5]
del l7[1]
print(l7)

[1, 2, 3, 4, 5]

In [122]:
# Deletion with a step
l8 = [1, 2, 3, 4, 5, 6, 7, 8]
del l8[::2]
print(l8)

[2, 4, 6, 8]

In [127]:
# Appending
l9 = [1, 2, 3, 4]
l9.append(5)
print(l9)
# append expects 1 argument and treats everythyng provided as one argument
l9.append([6, 7])
print(l9)
l9.append((8, 9))
l9.append('python')
print(l9)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, [6, 7]]
[1, 2, 3, 4, 5, [6, 7], (8, 9), 'python']

In [130]:
# Extending a list
l10 = [1, 2, 3, 4]
l10.extend([5, 6, 7, 8])
print(l10)
# the parameter of extend is treated as a sequence and the extend iterates over this sequence. So the string is treated as a sequence
l10.extend('python')
print(l10)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 'p', 'y', 't', 'h', 'o', 'n']

In [133]:
# Inserting - first argumet in the position and the second - a single element
l11 = [1, 2, 3, 4, 5]
l11.insert(2, 'a')
print(l11)
# the second parameter is treated as a single element, not a sequence
l11.insert(0, 'something')
print(l11)

[1, 2, 'a', 3, 4, 5]
['something', 1, 2, 'a', 3, 4, 5]

In [137]:
# Measuring insert vs append
from timeit import timeit
l12 = []
print('append: ', timeit('l12.append(1)', globals=globals(), number = 100_000))
l13 = []
print('insert: ', timeit('l13.insert(0,1)', globals=globals(), number = 100_000))

append:  0.001706441049464047
insert:  0.9256898179883137

56. Copying Sequences - Coding

In [143]:
# Basics
l01 = [1, 2, 3]

#Shalow copy by Slicing
l01_copy = l01[:]
print(l01_copy, l01 is l01_copy)

# If we change the copy, this will not affect l01
l01_copy.append(4)
print(l01, l01_copy)

[1, 2, 3] False
[1, 2, 3] [1, 2, 3, 4]

In [145]:
# We can use copy method to make shalow copy
l03 = l01.copy()
print(l03)

l03.append(40)
print(l01, l03)

[1, 2, 3]
[1, 2, 3] [1, 2, 3, 40]

In [148]:
# Modifying a mutable element of a shalow copy will modify the element in the original because it is the same object
l4 = [[0, 1], [1, 0]]
l4_copy = l4.copy()
print(l4, l4_copy)

l4_copy[0][0] = 1
print(l4, l4_copy)
print(l4[0] is l4_copy[0])

[[0, 1], [1, 0]] [[0, 1], [1, 0]]
[[1, 1], [1, 0]] [[1, 1], [1, 0]]
True

In [151]:
# Deep copy
from copy import deepcopy
l5 = [[2, 0], [0, 2]]
l5_copy = deepcopy(l5)

print(l5[0] is l5_copy[0])
l5[0].append(2)
print(l5, l5_copy)

False
[[2, 0, 2], [0, 2]] [[2, 0], [0, 2]]

In [155]:
# Shalow copy applies only if the elements are mutable. Otherwise Python does not clreates a copy object
l6 = (1, 2, 3)
l6_copy = l6[:]
print(l6 is l6_copy)

True

58. Unpacking Sequences - Coding

In [158]:
# Basica
dim = 104, 68
width, high = dim
print(width)
print(high)

# The data types could be different
t01 = 1, 5.12, 'abc'
id, price, name = t01
print('id: ', id, 'price: ', price, 'name: ', name)

104
68
id:  1 price:  5.12 name:  abc